{% extends 'base.html' %}
{% load static %}

{% block styles %}
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> -->
<link href="{% static 'css/datatable.css' %}" rel="stylesheet">

<style>
    .previous,
    .next,
    .page-link {
        font-size: 12px;
    }

    td {
        font-size: 12px;
    }

    th {
        font-size: 13px;
    }
</style>



{% endblock %}




{% block content %}
<div class="container-fluid" style="padding-top:80px">
    <div class="row w100">
        <div class="col-md-12">
            <table id="table-p" class="table ">
                <thead>
                    <tr>
                        <th></th>
                        <th>ФИО</th>
                        <th>Дата рождения</th>
                        <th>Населенный пункт</th>
                        <th>Муниципальное образование</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js "></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('#table-p').DataTable({
            // "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "bPaginate": true,
            'serverSide': true,
            'ajax': '/main/api/patients/?format=datatables',
            'columns': [{
                    'data': 'id',
                    "width": '3%'
                },
                {
                    'data': 'name',
                    "render": function(data, type, row, meta) {
                        return '<a href="/main/patients/'+row['id']+'" <b>' + data + '</b></a>';
                    }
                },
                {
                    'data': 'birthdate',
                    "width": '8%'
                },
                {
                    'data': 'locality.name',
                    "width": '10%'
                },
                {
                    'data': 'locality.municipality.name',
                    "width": '16%'
                },

            ],
            "language": {
                "lengthMenu": "Показывать по &nbsp _MENU_",
                "zeroRecords": "К сожалению ничего не найдено",
                "info": "", //"Найдено _TOTAL_  из _MAX_ ",
                "infoEmpty": "Информация отсутствует",
                "infoFiltered": "",
                paginate: {
                    next: '>',
                    previous: '<'
                }
            },


        });

        $(".dataTables_filter").hide();
        $('#inputSearch').keyup(function() {
            $('#table-p').DataTable().search($(this).val()).draw();
        })

    });
</script>

{% endblock %}
